
/* whole page */

html {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* header */

header {
  background: #fff url('images/surf_header.jpeg') no-repeat;
  background-size: cover;
  height: 523px;
  position: relative; /*for absolutly pos children*/
}

header:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 108, 174, 0.5);
}

header nav {
  position: relative;
}

header h1 {
  text-align: center;
  margin: 0 auto;
  font-family: 'open sans', sans-serif;
  color: white;
  font-weight: bold;
  position: relative;
}

header h3 {
  text-align: center;
  margin: 10px auto;
  font-family: 'open sans', sans-serif;
  color: white;
  font-weight: bold;
  position: relative;
}

.branding span {
  line-height: 64px;
  vertical-align: top;
  margin: 9px -5px;
}

.branding {
  font-family: "open sans", serif;
float: left;
}

.float_fix {
  clear:  both;
}

.logo {
  height:45px;
  width:45px;
  margin: 10px 15px 13px 141px;
}

.utility_nav {
  font-family: "oswald", serif;
  float: right;
  margin: 20px 171px 18px 26px;
}

.utility_nav a{
  text-decoration: none;
  margin: 0 -9px 1px 7px;
  font-size: 18px;
  padding: 0 5px 0 0;
  color: #063452;
}

.utility_nav a:hover {
  color: white;
}

.utility_nav img {
  height: 15px;
  width: 15px;
  margin:2px -7px 1px 11px;
}

span .surf {
  letter-spacing: 0;
  padding: 0 0 0 -3px;
}

span .and {
  letter-spacing: -6px;
}

span .paddle {
  letter-spacing: normal;
}

.little_surf {
  letter-spacing: normal;
}

.little_paddle {
  letter-spacing: normal;
  padding: 6px;
}

.search {
  letter-spacing: 0;
  padding: 9px;
}


/* entire body */

.body section {
  height: 1008px;
  max-width: 100%;
  border-bottom: 1px solid black;
}

/* left side of body */

.content {
  height: 1008px;
  width: 65%;
  float: left;
  display: inline-block;
}

p {
  width: 650px;
  display: inline-block;
}

.content h1 {
  font-family: "oswald", sans-serif;
  font-size: 65px;
  color: #063452;
}

.content img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.caption {
  margin: 10px;
}

.caption span {
  line-height: 22px;
  vertical-align: top;
  font-family: times, sans-serif;
  padding: 2px;
  font-size: 14px;
}

.content p {
  padding: 20px;
}

/* right side of the body */

.right_side {
  display: inline-block;
  height: 1008px;
  width: 35%;
  float: right;
}

/* profile portion */

.profile img {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

div.profile {
  display: inline-block;
  height: 250px;
  width: 100%;
}

.profile a {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px;
  color: #1970B2;
}

.profile a:hover {
  color: #063452;
}

.profile span {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.media {
  max-width: 100%;
  margin: 0 auto;
}

.media span {
  margin: 0 auto;
  font-family: 'open sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: -19px 11px 11px -9px;
  color:#ADBAC5;
}

/* side photo */

.side_photo{
  position: relative;
  display: inline-block;
  height: 350px;
  width: 100%;
}

.overlay_box img {
  height: 300px;
  width:277px;
  display: inline;
  max-width: 100%;
}

div.overlay_box {
  height: 300px;
  width:277px;
}

div.overlay_box:after {
  content:'';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 277px;
  height: 300px;
  display: inline-block;;
  position: absolute;
  background-color: rgba(50, 108, 174, 0.5);
}

.side_photo a {
  font-family: 'open sans', sans-serif;
  color: #ADBAC5;
  font-size: 14px;
  display: block;
}

/* section paragraph */

.section_heading {
  width: 100%;
  height: 250px;
}

.side_heading p {
  display: inline;
  font-size: 14px;
  font-family: 'open sans', sans-serif;
  line-height: 23px;
  float: left;
  max-width: 265px;
  text-align: left;

}

.side_heading h3 {
  font-family: 'oswald', sans-serif;
  color: #1970B2;
  font-size: 17px;
  text-transform: uppercase;

}

.clear_fix {
  clear: both;
}

/* bottom section */

.square_photos{
  display: inline;
}

.box img {
  height: 330px;
  width: 325px;
  margin: -2px;
}

.box {
  display: inline;
  vertical-align: top;
  height: 330px;
  width: 325px;
  margin: -2px;
}

.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}

.overlay:hover:after  {
  opacity: 1;
  background-color: rgba(50, 108, 174, 0.5);
  height: 330px;
  width: 325px;
}


.bottom h1{
  font-family: 'oswald', sans-serif;
  font-size: 100px;
  text-align: center;
}

/* footer */

nav {
  float: right;
}

li {
  display: inline;
}
