
/* whole page */

html {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* header */

header {
  background: #fff url('images/surf_header.jpeg') no-repeat;
  background-size: cover;
  height: 523px;
  position: relative; /*for absolutly pos children*/
}

header:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 108, 174, 0.5);
}

header nav {
  position: relative;
}

header h1 {
  font-family: 'open sans', sans-serif;
  color: white;
  font-weight: bold;
  position: relative;
  font-size: 100px;
  padding: 209px 0px 0px 194px;
}

header h3 {
  font-family: 'open sans', sans-serif;
  color: #063452;
  font-weight: bold;
  position: relative;
  font-size: 13px;
  margin: 7px 0px 0px 498px;
  letter-spacing: 1px;
}

.branding span {
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
  margin: 0px -39px 0px 7px;
  padding: 0px 1px 0px 0px;
  line-height: 44px;
  vertical-align: top;
}

.branding {
  font-family: "open sans", serif;
  float: left;
  margin: 10px -13px -1px 0px;
  padding: 0px 819px 0px 0px;
  width: 30%;
}


.logo {
  height:45px;
  width:45px;

}

.utility_nav {
  font-family: "oswald", serif;
  float: right;
  width: 27%;
  letter-spacing: 1px;
  margin: -36px -10px 0px 0px;
  padding: 1px 1px 10px 10px;
}

.float_fix {
  clear: both;
}

.utility_nav a{
  text-decoration: none;
  font-size: 18px;
  color: #063452;
}

.utility_nav a:hover {
  color: white;
}

.utility_nav img {
  height: 15px;
  width: 15px;
}

.search {
}


/* entire body */

.body section {
  height: 1008px;
  max-width: 100%;
}

/* left side of body */

.content {
  height: 1008px;
  width: 50%;
  float: left;
  display: inline;
  margin: 65px 0px 0px 162px;
}

.content p {
  display: inline-block;
  font-size: 17px;
  font-family: 'open sans', sans-serif;
  color: #5E686F;
}

/*.p p{
  margin: -9px 0px 73px 0px;
  line-height: 26px;
  padding: 0px 26px 0px 0px;
}*/

.para1 p {
  margin: 5px 25px 8px 1px;
  padding: 5px 25px 8px 1px;
  line-height: 25px;
}

.para2 p {
  margin: -2px 25px 68px 0px;
  line-height: 25px;
}

.para3 p {
  margin: 5px 25px 8px 1px;
  padding: 5px 25px 8px 1px;
  line-height: 25px;
}

.para4 p {
  margin: 5px 25px 8px 1px;
  padding: 5px 25px 8px 1px;
  line-height: 25px;
}

.content h1 {
  font-family: "oswald", sans-serif;
  font-size: 65px;
  color: #063452;
}

.content img {
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.social_links img{
  width: 15px;
  height: 15px;
}

.caption span {
  line-height: 22px;
  vertical-align: top;
  font-family: times, sans-serif;
  font-size: 14px;
}

.caption {
  margin: 14px 0px 41px 8px;
}

.underline {
  text-decoration: underline;
  color: #A3B3BE;
}

.name {
  color: #196FB1;
}

.content p a {
  color: #A9B8C2;
  text-decoration-color: #A9B8C2;
}

.content p a:hover {
  color: #196FB1;
  text-decoration-color: #196FB1;
}

.quote div {
  margin: auto;
  padding: 0px 0px 0px 6px;
}

.quote h2 {
  border-left: 3px solid #D3D3D3;
  display: inline;
  height: 56px;
  font-size: 28px;
  font-family: 'open sans', sans-serif;
  color: #196FB1;
  padding: 0px 0px 0px 17px;
}

.little_box {
  width:33px;
  height:30px;
  background-color: #5E686F;
}

.little_box:hover {
  background-color: #0B3551
}

.long_box {
  display: inline;
  height:30px;
  background-color: #A3B3BE
}

.long_box:hover {
  background-color: #196FB1;
}

.social_links div {
  display: inline;
  color: white;
}

.social_links a {
  text-decoration: none;
}

/* right side of the body */

.right_side {
  display: inline;
  height: 1008px;
  width: 35%;
  float: right;
}

/* profile portion */

.profile img {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  display: block;
  margin: 0 114px;
}

div.profile {
  display: inline-block;
  height: 189px;
  width: 100%;
  padding: 82px 0 0 0;
}

.profile a {
  display: block;
  text-align: center;
  font-size: 16px;
  font-family: 'open sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px;
  color: #1970B2;
  margin: 1px 142px 10px 0px;
  padding-bottom: 4px;
}

.profile a:hover {
  color: #063452;
}

.profile span {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.media {
  max-width: 100%;
  padding: 0px 0px 0px 5px;
  margin: 0px 0px 0px 54px;
}

.media span {
  margin: 0 auto;
  font-family: 'open sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: -19px 11px 11px -9px;
  color:#ADBAC5;
}

/* side photo */

.side_photo{
  position: relative;
  display: inline-block;
  height: 350px;
  width: 100%;
  margin-left: 17px;
}

.overlay_box img {
  height: 300px;
  width:277px;
  display: inline;
  max-width: 100%;
}

div.overlay_box {
  height: 300px;
  width:277px;
}

div.overlay_box:after {
  content:'';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 277px;
  height: 300px;
  display: inline-block;;
  position: absolute;
  background-color: rgba(50, 108, 174, 0.5);
}

.side_photo a {
  font-family: 'open sans', sans-serif;
  color: #ADBAC5;
  font-size: 14px;
  display: block;
  margin: 7px 0px 0px 191px;
  text-decoration: underline;
}

/* section paragraph */

.side_heading {
  width: 100%;
  height: 250px;
  margin: 22px 10px 10px 17px;
}

.side_heading p {
  display: inline;
  font-size: 14px;
  font-family: 'open sans', sans-serif;
  line-height: 24px;
  float: left;
  max-width: 265px;
  text-align: left;
  margin: 10px 0px 0px 0px;
  color: #A9B8C2;

}

.side_heading h3 {
  font-family: 'oswald', sans-serif;
  color: #1970B2;
  font-size: 17px;
  text-transform: uppercase;
}

.side_heading a {
  color: #A9B8C2;
  text-decoration-color: #A9B8C2;
}

.side_heading a:hover {
  color: #196FB1;
  text-decoration-color: #196FB1;
}

.clear_fix {
  clear: both;
}

/* bottom section */

 section.bottom {
  border-top: 1px solid black;
  margin: -65px 4px -1px 2px;
  width: 100%;
}

.square_photos div{
  display: inline;
  margin: 0 auto;
  max-width: 100%;
}

.box img {
  height: 330px;
  width: 325px;
  margin: -2px;
}

.box {
  display: inline;
  vertical-align: top;
  height: 330px;
  width: 325px;
  margin: -2px;
}

.overlay {
  position: relative;
}

.overlay h2 {
  position: absolute;
   top: 248px;
   left: 17px;
   width: 100%;
   margin: -6px 0px 0px -1px;
   letter-spacing: 1.09px;
   line-height: 37px;

}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}

.overlay:hover:after  {
  opacity: 1;
  background-color: rgba(50, 108, 174, 0.5);
  height: 330px;
  width: 325px;
}


.bottom h1{
  font-family: 'oswald', sans-serif;
  font-size: 63px;
  letter-spacing: .1px;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: -26px 0px 10px -2px;
  padding: 0px 0px 36px 0px;
  color: #0B3551;
}

.square_words {
  font-family: 'oswald', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
}

/* footer */

nav {
  float: right;
  margin: 0 0 0 10px;
}

footer img {
  width: 20px;
  height: 20px;
}

footer {
  background-color: #0B3551;
  height: 97px;
  color: white;
  margin: 0 auto;
  width: 100%;
}

footer span {
  font-family: 'open sans', sans-serif;
  font-size: 10px;
}

div.tiy {
  margin: 0 0 0 10px;
  padding: 31px 0px 0px 186px;
}

li {
  display: inline;
}

.footer li {
  font-family: 'open sans', sans-serif;
  font-size: 10px;
}

ul.list {
  margin: -16px 196px 0px 0px;
}
